# Any hidden files
**/.*

# Build related stuff
/src
/test
/demo
/_gh-pages
/.tmp
/bower_components
/node_modules
gulpfile.js
pakmanaged.js
karma-dist-concatenated.conf.js
karma-dist-minified.conf.js
karma-src.conf.js
